# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.space-invaders-H5.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projeler\Git\space-invaders-H5\space-invaders-H5\.idea\.idea.space-invaders-H5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
